{{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.firstName) }}
                    {{ form_row(registrationForm.roles,{
                        label: 'Roles'
                    }) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}

                    {#<label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Remember me
                        </label>#}
                    {{ form_row(registrationForm.agreeTerms) }}
<button type="submit" class="btn btn-success">Submit</button>
{{ form_end(registrationForm) }}
