{% extends 'layout/layout.html.twig' %}

{% block title %}
    {{ page_title }}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendors/datatable/dataTables.bootstrap4.css') }}">
{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendors/datatable/jquery.dataTables.js') }}"></script>
{#    <script src="{{ asset('vendors/datatable/dataTables.bootstrap4.js') }}"></script>#}
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
{#    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>#}
    <script>

        $(".order-history").addClass('active')

        $(document).ready(function () {
            {# Start Data Table Server Side #}

            $('#users_table').initDataTables({{ datatable_settings(datatable) }}, {
                searching: true,
                dom:'<"html5buttons"B>lTfgitp',
                buttons: [
                    'copy',
                    { extend: 'pdf', title: 'domains'},
                    { extend: 'print' }
                ]
            }).then(function(dt) {
                // dt contains the initialized instance of DataTables
                dt.on('draw', function() {
                })
            });

            /*let userColumns = [
                {
                    "data" : "email",
                    "render" : function (data, type, row) {
                        data = '<span class="text-capitalize" id="' + row.id + '" title="' + row.id + '"> ' + row.email + '</span>'
                        return data;
                    }
                },
                {
                    "data" : "email",
                    "render" : function (data, type, row) {
                        data = '<span class="text-capitalize"> ' + row.email + '</span>'
                        return data;
                    }
                },
                {
                    "data" : null,
                    "render" : function (data, type, row) {
                        data =  '<div class="text-center"> ' +
                            ' <button type="button" class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#orderLogsModal"> ' +
                                       ' <i  class="mdi mdi-pen">' + '</i>' +
                            '</button>'+
                            '<button type="button" class="btn btn-danger btn-lg" id="deleteUser">' +
                            '<i class="mdi mdi-trash-can">' + ' </i> ' +
                            ' </button> ' +
                        ' </div>'
                        return data;
                    }
                },
            ];*/

            /*let orderTable = $(`#users_table`).DataTable({
                "processing": true,
                "serverSide": true,
                "pageLength": 10,
                "paging" : true,
                "info" : true,
                "searching": true,
                "order" : [[2,"asc"]],
                "columnDef" : [
                    {"name" : "firstName", "target" : 0},
                    {"name" : "email", "target" : 0},
                ],
                "ajax": {
                    "url": "
{#{{ path('find_all_users') }}",#}
                    "type": 'POST',
                    "contentType": `application/json; charset=utf-8`,
                    "data": function (d) {
                        return JSON.stringify(d);
                    },
                    "success": function (d) {
                        console.table(d);
                    }
            // TODO :: Work on DataTables and display data
            }
            });*/
            {# End Data Table Server Side #}
        })
    </script>
{% endblock %}

{% block main_content %}

    <div class="card">
        <div class="card-header">
            <h3><i class="mdi menu-icon mdi-account"></i> Users</h3>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="d-sm-flex align-items-end justify-content-between border-bottom">
                    <div>
                        <div class="btn-wrapper">
                            <a href="#0" class="btn btn-primary text-white me-0" data-bs-target="#registerModal" data-bs-toggle="modal"><i class="icon-download"></i> Register</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-12">
                    <br/>
                    <div class="table-responsive" id="users_table">
{#                        <table class="table" id="users_table">#}
{#                            <thead>#}
{#                            <tr>#}
{#                                <th class="text-center">Username</th>#}
{#                                <th class="text-center">Email</th>#}
{#                                <th class="text-center">Action</th>#}
{#                            </tr>#}
{#                            </thead>#}
{#                            <tbody>#}
{#                            </tbody>#}
{#                        </table>#}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Edit Modal #}
    <div class="modal fade" id="orderLogsModal" tabindex="-1" role="dialog" aria-labelledby="orderLogsModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="mdi menu-icon mdi-account"></i> User
                        Account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="forms-sample">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Username</label>
                            <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                   placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputConfirmPassword1">Confirm Password</label>
                            <input type="password" class="form-control" id="exampleInputConfirmPassword1"
                                   placeholder="Password">
                        </div>
                        <div class="form-check form-check-flat form-check-primary">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                Remember me
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                        <button class="btn btn-light">Cancel</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    {# End Edit Modal #}

    {# Edit Modal #}
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="mdi menu-icon mdi-account"></i> Register User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.firstName) }}
                    {{ form_row(registrationForm.roles,{
                        label: 'Roles'
                    }) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}

                        {#<label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            Remember me
                        </label>#}
                        {{ form_row(registrationForm.agreeTerms) }}
                    <button type="submit" class="btn btn-success">Submit</button>
                    {{ form_end(registrationForm) }}

                </div>
            </div>
        </div>
    </div>
    {# End Edit Modal #}

{% endblock %}




