{% extends 'layout/layout.html.twig' %}

{% block title %}Order Logs{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendors/datatable/dataTables.bootstrap4.css') }}">
{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendors/datatable/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('vendors/datatable/dataTables.bootstrap4.js') }}"></script>
    <script>

        $(".order-history").addClass('active')

        $(document).ready(function () {
            {# Start Data Table Server Side #}
            let orderTable = $(`#order_logs_table`).DataTable();
            {# End Data Table Server Side #}
        })
    </script>
{% endblock %}

{% block main_content %}

    <div class="card">
        <div class="card-header">
            <h3>Order Logs</h3>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table" id="">
                            <thead>
                            <tr>
                                <th class="text-center">Date</th>
                                <th class="text-center">State</th>
                                <th class="text-center">Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for log in orderLogs %}
                                <tr>
                                    {% if log.state is same as "ORDER_RECEIVED" %}
                                        <td class="text-center">{{ log.createdAt|date('dd:mm:yy H:i:s') }}</td>
                                        <td class="text-center">
                                            <span class="badge badge-warning">{{ log.state }}</span>
                                        </td>
                                        <td class="text-center">Order <span
                                                    class="fw-bold">#  {{ log.orderDetails.id }}</span> has been
                                            received by the system
                                        </td>
                                    {% elseif log.state is same as "ORDER_PROCESSING" %}
                                        <td class="text-center">{{ log.createdAt|date('dd:mm:yy H:i:s') }}</td>
                                        <td class="text-center">
                                            <span class="badge badge-warning">{{ log.state }}</span>
                                        </td>
                                        <td class="text-center">Order <span
                                                    class="fw-bold">#  {{ log.orderDetails.id }}</span> has been
                                            changed to PROCESSING by <span
                                                    class="fw-bold">{{ log.userDetails.firstName }}</span>
                                            <span class="fw-bold">({{ log.userDetails.id }})</span>
                                        </td>
                                    {% elseif log.state is same as "ORDER_READY_TO_SHIP" %}
                                        <td class="text-center">{{ log.createdAt|date('dd:mm:yy H:i:s') }}</td>
                                        <td class="text-center">
                                            <span class="badge badge-warning">{{ log.state }}</span>
                                        </td>
                                        <td class="text-center">Order <span
                                                    class="fw-bold">#  {{ log.orderDetails.id }}</span> has been changed to READY TO SHIP by
                                            <span
                                                    class="fw-bold">{{ log.userDetails.firstName }}</span> <span
                                                    class="fw-bold">({{ log.userDetails.id }})</span> with BOX_ID: <span
                                            class="fw-bold">({{ log.orderDetails.boxId }})</span>
                                    {% elseif log.state is same as "ORDER_SHIPPED" %}
                                        <td class="text-center">{{ log.createdAt|date('dd:mm:yy H:i:s') }}</td>
                                        <td class="text-center">
                                            <span class="badge badge-warning">{{ log.state }}</span>
                                        </td>
                                        <td class="text-center">Order <span
                                                    class="fw-bold">#  {{ log.orderDetails.id }}</span> has been changed to SHIPPED by
                                            <span
                                                    class="fw-bold">{{ log.userDetails.firstName }}</span> <span
                                                    class="fw-bold">({{ log.userDetails.id }})</span> with AWB:
                                            #21321313131 by UPS <a href="#0"  class="reset-link">[View Label]</a> </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="orderLogsModal" tabindex="-1" role="dialog" aria-labelledby="orderLogsModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="mdi menu-icon mdi-history"></i> Order
                        History</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success">Submit</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


